<input type="checkbox" id="target-drop-example" />
<!-- Toggle Drop -->
<span id="thebutton"
background-color="<%= buttonBackgroundColor %>"
button-border="<%= buttonBorder %>"
text-color="<%= textColor %>"
class="control"
width="<%= width %>"
height="<%= height %>"

>
<img id="theIcon" src="images/augmented-reality.png" alt="camera-logo" iconWidth="<%= iconWidth %>"/>

<div id="icon-text-wrapper">
  <span id="btntext" class="btn-text" fontSize="<%= fontSize %>" onClick="fetchUserData(`<%= product %>`, `<%= catalog %>`)"> <%= buttonText || "View In Ar"%></span>
  </span
>
</div>
