<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mintwebb AR-Viewer</title>
    <!-- Import the component -->
    <script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
    ></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    </script>
  </head>
  <body>
    <!-- src and ios-src is set in app.js -->
    <div id="container">
      <model-viewer
        id="the-viewer"
        alt="3D model of product"
        src="<%= tsrc %>"
        ar
        ar-scale="fixed"
        ar-placement="wall"
        ar-modes="webxr scene-viewer quick-look"
        camera-controls
      ></model-viewer>
    </div>
   
    <label class="drop" >
      <input type="checkbox" id="target-drop-example" />
      <!-- Toggle Drop -->
      <span id="thebutton" 
      background-color="<%= button_backgroundColor %>" 
      button-border="<%= button_border %>" 
      text-color="<%= text_color %>" 
      class="control"
      width="<%= width %>"
      height="<%= height %>"
    
      >
      <img id="theIcon" src="augmented-reality.png" alt="camera-logo" iconWidth="<%= iconWidth %>"/>

      <div id="icon-text-wrapper">
        <span id="btntext" class="btn-text" fontSize="<%= fontSize %>"> <%= button_text || "View In Ar"%></span>   
        </span
      >
    </div>
      <!-- Items -->
      <ul id="dropdown" class="drop-items">
        <%colors_used.forEach(function(color){ %>
        <li class="item-drop" onClick="setListItemAttributes(`<%= tsrc %>`, `<%= product %>`, `<%= color %>`)">
            <%= color %>
        </li>
        <%
      })%>
      </ul>
      <!-- Alternative to close dropdown with click out -->
      <label for="target-drop-example" class="overlay-close"></label>
    </label>
    <!-- END -- Dropdown -->
    <script>      
    let viewer = document.getElementById("the-viewer");
    let elements = document.getElementsByClassName("item-drop");
    let dropdown = document.getElementById("dropdown");

    function styles() {
      // style the button
      let thebutton = document.getElementById("thebutton")
      let btntext = document.getElementById("btntext")
      let icon = document.getElementById("theIcon")
      let color = thebutton.getAttribute("background-color")
      thebutton.style.backgroundColor = color
      // style the border
      let border = thebutton.getAttribute("button-border")
      thebutton.style.border = border
      // style the text-color
      let text_color = thebutton.getAttribute("text-color")
      thebutton.style.color = text_color
      // style the width
      let button_width = thebutton.getAttribute("width")
      thebutton.style.width = button_width
      // style the height
      let button_height = thebutton.getAttribute("height")
      thebutton.style.height = button_height
      // style the fontsize
      let fontSize = btntext.getAttribute("fontSize")
      btntext.style.fontSize = fontSize
      // style the fontsize
      let iconWidth = theIcon.getAttribute("iconWidth")
      icon.style.width = iconWidth
    }
    styles();
    const setListItemAttributes = (Src, product, Color) => {
      console.log("ios-src", Src + "/" + Color + "/" + product + ".usdz")  

      // let color;
      // let src = Src; 

      // let radio_buttons = document.getElementsByClassName("radio")
      // Array.from(radio_buttons).map((radio) => {
      //   if (radio.checked) {
      //    return color = radio.value;
      //   }
      // })
      setViewerAttributes(Src, product, Color);
      }
    const setViewerAttributes = (Src, product, Color) => {
          // checka iphone vs android
          document.getElementById("the-viewer").setAttribute("src", Src + "/" + Color + "/" + product + ".glb");
          document.getElementById("the-viewer").setAttribute("ios-src", Src + "/" + Color + "/" + product + ".usdz");
          console.log(Src)

        }
    const revealDropDown = () => {
      dropdown.classList.contains('active') ? dropdown.classList.remove("active") : dropdown.classList.add("active");
    }
    const activateAR = () => {
      console.log(document.getElementById("the-viewer"))
          viewer.activateAR(); 
        };
    document.getElementById("thebutton").addEventListener('click', revealDropDown);
    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', activateAR);
        });
    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
  </body>
</html>
